@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Fira Sans", Arial;
  --primary-color: #000105;
  --secondary-color: #020305e0;
  --third-color: #177cb6;
  --fourth-color: #ba4dece5;
}

/* estilos generales / que se repiten */

body {
  background: #dfdce3;
}

*{
  font-family: var(--font-family);
}

.back {
  background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.bg_overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background: rgba(0, 0, 0, 0.842);
}

.overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 999;
  background: white;
}

.back2 {
  background: var(--third-color);
}

.text {
  color: var(--fourth-color);
}

.input {
  color: black;
}

.input:focus {
  outline: none;
}