@tailwind base;
@tailwind components;
@tailwind utilities;

/*
"IBM Plex Sans"
"Noto Sans KR"
"Barlow"
"Maven Pro"
*/

:root {
  --font-family: "Barlow", Arial;
  --primary-color: #40C6E5;
  --secondary-color: #9F99F5;
  --third-color: #12151b;
  --fourth-color: #2d3d45;
}

/* colores css */

/* estilos generales / que se repiten */
.text-gradient {
  background: #40C6E5;
  background: linear-gradient(to top, #40C6E5 0%, #9F99F5 69%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-primary {
  background: rgb(64, 198, 229);
  background: linear-gradient(176deg, rgba(64, 198, 229, 1) 0%, rgba(159, 153, 245, 1) 100%);
}

.bg-gradient-secondary {
  background: rgb(18, 21, 27);
  background: linear-gradient(176deg, rgba(18, 21, 27, 1) 0%, #2d3d45 100%);
}

* {
  font-family: var(--font-family);
}

.bg_overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;
  background: rgba(0, 0, 0, 0.842);
}

.important {
  z-index: 9999;
}

.overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 999;
}

.back2 {
  background: var(--third-color);
}

.text {
  color: var(--fourth-color);
}

.input {
  color: rgb(244, 244, 244);
  background: none;
  border-bottom: 1px solid gray;
  width: 80%;
}

.input:focus {
  outline: none;
}

.one {
  flex: 1;
}

.two {
  flex: 1;
}

@media screen and (max-height: 650px) {
  .olas {
    display: none;
  }
}