@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: Arial;
}

/* estilos generales / que se repiten */

body {
  background: #dfdce3;
}

.bg_overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.509);
}


.input {
  color: black;
}

.input:focus {
  outline: none;
}